@media (max-width: 1200px) {
    #sobre .sobre-mim h2 {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px;
        margin: 25px;
    }

    #sobre .sobre-mim .container p {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.7rem;
        padding: 50px;
        margin: 50px;
        width: 1000px;
        height: 800px;
    }

    #projetos li {
        display: center;
        justify-content: center;
        align-items: center;
        width: 50%;
    }
}

@media (max-width: 700px) {
    #sobre .sobre-mim .container p {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 0.9rem;
        margin: 50px;
        margin: 50px;
        width: 600px;
        height: 400px;
    }
    
    #projetos li {
        width: 50%;
    }
}

@media (max-width: 500px) {
    body {
        background-repeat: repeat;
        background-position: center;

        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        height: 100vh;
        margin: 0;
        padding: 0;
    }

    header {
        background-color: #d3d3d3;
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        padding: 20px;
        width: max-content;
    }

    main {
        margin-top: 60px;
        width: 400px;
    }
    
    #sobre .sobre-mim .container p {
        display: flex;
        justify-content: center;
        align-items: center;

        font-size: 1.1rem;
        padding: 10px;
        margin: 10px;
        width: 400px;
        height: 300px;
    }
    
    #projetos li {
        width: 70%;
    }

    footer {
        width: 500px;
        margin-top: auto;
        padding: 20px;
        background-color: #d3d3d3;
    }
}

@media (max-width: 376px) {
    #sobre .sobre-mim h2 {
        display: flex;
        justify-content: center;
        align-items: center;

        padding: 20px;
        margin: 10px;
    }
    
    #sobre .sobre-mim .container p {
        font-size: 1.0rem;
        padding: 1px;
        margin: 1px;
        width: 330px;
        height: 100px;
    }
    
    #projetos li {
        width: 80%;
    }
    
    footer {
        width: max-content;
    }
}

